<footer id="footer">
  <div
    class="mx-5 sm:mx-10 md:mx-[calc((100%-40rem)/2)] lg:mx-[calc((100%-48rem)/2)] xl:mx-[calc((100%-64rem)/2)]"
  >
    <div class="text-white">
      <div
        class="grid gap-12.5 grid-cols-7 py-20 border-y-[.0417rem] border-y-gray-50/5"
      >
        <article class="child-1 col-span-3 xl:col-span-2">
          <figure>
            <img src="/logo.png" alt="CineFlix Logo" class="mb-7.5" />
          </figure>
          <p class="mb-5">
            Movies & TV Shows, Online cinema, Movie database HTML Template.
          </p>
          <ul class="flex flex-nowrap gap-5 xl:gap-3">
            <li>
              <a
                href="https://www.facebook.com"
                target="_blank"
                class="hover:text-blue-500 transition-colors duration-[0.5s]"
                ><i class="fa-brands fa-facebook text-[1.5625rem]"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.x.com"
                target="_blank"
                class="hover:text-blue-500 transition-colors duration-[0.5s]"
                ><i class="fa-brands fa-twitter text-[1.5625rem]"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.instagram.com"
                target="_blank"
                class="hover:text-blue-500 transition-colors duration-[0.5s]"
                ><i class="fa-brands fa-instagram text-[1.5625rem]"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.tiktok.com"
                target="_blank"
                class="hover:text-blue-500 transition-colors duration-[0.5s]"
                ><i class="fa-brands fa-tiktok text-[1.5625rem]"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.youtube.com"
                target="_blank"
                class="hover:text-blue-500 transition-colors duration-[0.5s]"
                ><i class="fa-brands fa-youtube text-[1.5625rem]"></i
              ></a>
            </li>
          </ul>
        </article>
        <div
          class="child-2 col-span-7 xl:col-span-5 grid gap-12.5 grid-cols-1 sm:grid-cols-2 md:grid-cols-4"
        >
          <div class="child-1">
            <h3 class="capitalize mb-5 text-lg font-bold">cineflix</h3>
            <ul class="space-y-2.5">
              <li>
                <a
                  href="#"
                  class="font-normal hover:text-blue-500 transition-colors duration-[0.7s]"
                  >About Us</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="font-normal hover:text-blue-500 transition-colors duration-[0.7s]"
                  >My Profile</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="font-normal hover:text-blue-500 transition-colors duration-[0.7s]"
                  >Pricing Plans</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="font-normal hover:text-blue-500 transition-colors duration-[0.7s]"
                  >Contacts</a
                >
              </li>
            </ul>
          </div>
          <div class="child-2">
            <h3 class="capitalize mb-5 text-lg font-bold">browse</h3>
            <ul class="space-y-2.5">
              <li>
                <a
                  href="#"
                  class="font-normal hover:text-blue-500 transition-colors duration-[0.7s]"
                  >Live TV</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="font-normal hover:text-blue-500 transition-colors duration-[0.7s]"
                  >Live News</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="font-normal hover:text-blue-500 transition-colors duration-[0.7s]"
                  >Live Sports</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="font-normal hover:text-blue-500 transition-colors duration-[0.7s]"
                  >Streaming Library</a
                >
              </li>
            </ul>
          </div>
          <div class="child-3">
            <ul class="space-y-2.5 sm:mt-12">
              <li>
                <a
                  href="#"
                  class="font-normal hover:text-blue-500 transition-colors duration-[0.7s]"
                  >TV Shows</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="font-normal hover:text-blue-500 transition-colors duration-[0.7s]"
                  >Movies</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="font-normal hover:text-blue-500 transition-colors duration-[0.7s]"
                  >Kids</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="font-normal hover:text-blue-500 transition-colors duration-[0.7s]"
                  >Collections</a
                >
              </li>
            </ul>
          </div>
          <div class="child-4">
            <h3 class="capitalize mb-5 text-lg font-bold">help</h3>
            <ul class="space-y-2.5">
              <li>
                <a
                  href="#"
                  class="font-normal hover:text-blue-500 transition-colors duration-[0.7s]"
                  >Account and Billing</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="font-normal hover:text-blue-500 transition-colors duration-[0.7s]"
                  >Plan and Pricing</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="font-normal hover:text-blue-500 transition-colors duration-[0.7s]"
                  >Supported Devices</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="font-normal hover:text-blue-500 transition-colors duration-[0.7s]"
                  >Accesability</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center text-white py-10">
      <p>© Copyright 2025 CineFlix</p>
    </div>
  </div>
</footer>
